#mainOtp {
    width:300px;
    
    border: 1px solid #353535;
    border-radius: 10px;
    background-color: #121212;
    margin: auto;
    margin-top: 60px;
    color:white;
    padding:60px 100px;
}
body {
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-image: url("https://lh3.googleusercontent.com/Q-_VA9TXEtkXOpoE2IoMvPiQqGrpeS1DU-La-PCIqmlG02DOhxu_rZLcK455txRR1RzlLJGXXnxt_prx9TEp-LoidJcrslBbSHWjaTb0JwWvggu1g5mKS7Cki-0FqTFbEg38Wwv3E_f5RvlgPYlfq8xm3gq5Kc-bY1RYW4CgVIC3g2DTrh0L2wTZ_ScBQrwaa1v0rWZTuySGEsIhyv5EXjjgR5L-W5Hw1EtgTnRpVzHQFKnx4DghLRqDfwD7txhq7LD-OkIlT4C7fJqbksZHsVMBpzO-hZ0D3aPx91bR0a21TxrZidux-wUSk3JNASd6wpG0iqCbgIQgHS9V4ymLD90uLrT6YbQ0bPVWvAbVgh_IFkrJy1_FmQ8STpgjXsrV2O950D2yHe1lW_Bicb6EwzqP8v9xfliyVld7kPbfMqlBpsFH2Dl5XBGRXprdpskpEEaYdUessWEA3_EwhQrSXc5_rhSNzsCqm2DheesTju619C12JoJOkKTLzYmacKGqKm9i8g2V76rQXc_Wpqzxs3MQAeYvkx8wW0rzHPrPvF9OLRXScATvGRkLjd7xRJo85K56AhvCVNDccEv-UTnIdqwa2Q6_nMpNVerIUwiiEcOJ9FO8S7bfUHcJsPS_0aHca6UDI1G5TLbZjiPIrwQM-eR2iQEuh_I7rb45BcrS5nzsFkfujNDd8bUQT56Os9edRLT5fbL_f3doT07r-iAgzdrmsw=w1339-h617-no?authuser=0");
    background-size: cover;
    background-size: 100%;
    
    
}
#pw2{
    width: 100%;
    height:100%;
    background: rgb(22 21 21 / 82%)
}

#otp {
    color:white;
    font-size: 22px;
    background-color: transparent;
    border: none;
    width:70%;
    padding-left:11% ;
    letter-spacing:43px;
    
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    color:#a1a1a1;
    border-color: transparent;

}

a{
    color: turquoise;
    text-decoration: underline;
    cursor: pointer;

}
#bottem {
    margin-top: 30px;
    text-align: center;
    
}

#p3 {
    margin-top: 50px;
    margin-bottom: 50px;
}
body {
    background-color:transparent;
}

#otp:focus {
    outline: none;
}
#underlines {
    margin:auto;
    width:60%;
    display: flex;
    padding-left: 0px;
    

}

.under {
    width:20px;
    border:1px solid white;
    
}
.line {
    margin-left: 20%;
}
#validMsg {
    font-size: small;
    font-family: "fantasy";
    
}

@media only screen and (min-width:0px) and (max-width:640px) {
    #mainOtp {
        width:80%; 
        height:auto;                                                     
        padding: 40px 20px;
    }
    
     
    #otp {
        width:230px;
        padding-left:11%;
        letter-spacing: 45px;
    }
    .under {
        width:20px;
        border:1px solid white;
        
    }
    #underlines {
        width:190px
    }
    .line {
        margin-left: 18%;
    }

    label{
        margin-top: 20px;
        font-size: 10px;
    }
    #check_div label::before {
        width:18px;
        height:18px;
        
    
    }
}